@media (max-width: 767px) {
  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop {
    display: none;
  }

  .header-container {
    align-items: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;

    padding: 16px;
    padding-top: 22px;
    gap: 27px;
  }

  .actions {
    display: flex;

    justify-content: center;
    position: relative;

    width: 100%;
  }

  /* ------ burg menu------ */
  .burg-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    font-weight: 700;
    stroke: black;
    cursor: pointer;
    transition: var(--hover-transition);

    width: 23px;
    height: 24px;
  }

  .burg-menu svg {
    width: 23px;
    height: 24px;
  }

  .burg-menu line {
    stroke-width: 1px;
  }

  /* ------ logo svg ------ */

  .header-logo {
    display: flex;
    align-items: center;

    width: 148px;
  }

  /* ------ Search bar --------- */
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
  }

  .search-input {
    width: 361px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px;
    border-color: rgba(221, 221, 221, 1);
    padding-left: 24px;
  }

  .search-input:focus {
    outline: none;
    transition: var(--hover-transition);
    box-shadow: 0px 0px 8px -4px var(--primary);
  }

  .search-input::placeholder {
    color: black;
  }

  .search-img {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    color: black;
  }

  .search-img:hover {
    cursor: pointer;
    color: var(--primary);
  }

  /* ------ Cart and user --------- */
  .cart-and-user {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  /* ------ Cart button and length -------- */
  .button-and-lenght {
    display: flex;
    position: relative;
  }

  .cart-button {
    display: flex;
    color: black;
  }

  .cart-length {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
    left: 17px;
    font-size: 12px;
    color: white;
  }
}
