.container {
  display: flex;
  position: relative;
  padding: 20px;
}

/* ---------------  Title ---------------- */
.title {
  margin-top: 0;
  margin-bottom: 17px;
}

/* invisible on AllCategories */
:host-context(.categories-items-container) .title {
  display: none;
}

/* -------  subcategory ----------- */

.subcategory {
  display: flex;
  gap: 129px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  position: relative;
  display: flex;
  width: 80px;
  height: 19px;

  cursor: pointer;
}

.item p {
  position: absolute;
  color: rgba(101, 101, 101, 1);
}

.item:hover p {
  color: var(--primary);
  font-weight: 700;
}
