/* global styles for shadow DOM */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* -- text -- */
p {
  margin: 0;
  margin-left: 0.3rem;
  padding: 0;
  line-height: 1.5;
  font-size: var(--default-font-size);
}

h1 {
  white-space: pre;
  margin: 0;
}

h2 {
  white-space: pre;
}

/* -- containers -- */

figure {
  margin: 0;
}
